--extra-index-url https://download.pytorch.org/whl/cu130

torch
torchvision
torchaudio

# Hugging Face Libraries
transformers==4.37.2
huggingface_hub<0.21
datasets
accelerate
sentencepiece
tokenizers
safetensors

# Data Science Libraries
pandas
numpy
matplotlib
seaborn
scikit-learn
scipy

# Deep Learning Utilities
tqdm
wandb
tensorboard

# NLP & LLM Tools
nltk
spacy
tiktoken
einops

# Jupyter Extensions
ipywidgets
jupyter-contrib-nbextensions

# Other Utilities
Pillow
requests
pyyaml
python-dotenv
