name: Build and Push Standard Image
on:
  push:
    branches:
      - master
    paths:
      - 'standard/**'
      - '.github/workflows/build.yml'
  pull_request:
    branches:
      - master
    paths:
      - 'standard/**'
      - '.github/workflows/build.yml'
  workflow_dispatch:
    inputs:
      tag:
        description: 'Image tag'
        required: false
        default: 'latest'

jobs:
  call-build:
    uses: ./.github/workflows/build.yml
    with:
      prefix: standard
